! Color scheme !
#define C_background        #0F1419
#define C_foreground        #E6E1CF
#define C_cursorColor       #E6E1CF

! Black
#define C_color0            #42505e
#define C_color8            #34425E

! Red
#define C_color1            #f07178
#define C_color9            #F04D58

! Green
#define C_color2            #C2D94C
#define C_color10           #BCD92B

! Yellow
#define C_color3            #39BAE6
#define C_color11           #17ABE6

! Blue
#define C_color4            #FF7733
#define C_color12           #FF620D

! Magenta
#define C_color5            #FFEE99
#define C_color13           #FFEA73

! Cyan
#define C_color6            #E6B673
#define C_color14           #E6A550

! White
#define C_color7            #000000
#define C_color15           #000000

! Xft settings
Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                false
Xft.hintstyle:              hintfull

! URxvt settings
URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
! URxvt.shading:            5
! URxvt.fading:             10
! URxvt.urgentOnBell:       true
! URxvt.visualBell:         true
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Font settings
URxvt.allow_bold:           false
URxvt*letterSpace: -1

URxvt*font: xft:Source Code Pro:pixelsize=14,\
            xft:Kochi Gothic:antialias=false,\
            xft:Baekmuk Gulim

URxvt*boldFont: xft:Source Code Pro:pixelsize=14:style=Bold,\
            xft:Kochi Gothic:antialias=false:style=Bold,\
            xft:Baekmuk Gulim:style=Bold

! vim: ft=xdefaults

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          C_cursorColor
URxvt.cursorUnderline:      false

! Underline color
*colorUL: C_color3

! Pointer
URxvt.pointerBlank: true

*background:             C_background
*foreground:             C_foreground
*cursorColor:            C_cursorColor
*pointerColorBackground: C_background
*pointerColorForeground: C_foreground

!Black
*color0:               C_color0
*color8:               C_color8

!Red
*color1:               C_color1
*color9:               C_color9

!Green
*color2:               C_color2
*color10:              C_color10

!Yellow
*color3:               C_color3
*color11:              C_color11

!Blue
*color4:               C_color4
*color12:              C_color12

!Magenta
*color5:               C_color5
*color13:              C_color13

!Cyan
*color6:               C_color6
*color14:              C_color14

!White
*color7:               C_color7
*color15:              C_color15

