! Unfinished theme

! Color scheme !
#define C_background        #1E1E1E
#define C_foreground        #C4C4C4
#define C_cursorColor       #C4C4C4

! Black
#define C_color0            #333333
#define C_color8            #333333

! Red
#define C_color1            #8F3D3D
#define C_color9            #8F3D3D

! Green
#define C_color2            #3D8F69
#define C_color10           #3D8F69

! Yellow
#define C_color3            #F0D775
#define C_color11           #F0D775

! Blue
#define C_color4            #3D668F
#define C_color12           #3D668F

! Magenta
#define C_color5            #793D8F
#define C_color13           #793D8F

! Cyan
#define C_color6            #428A89
#define C_color14           #428A89

! White
#define C_color7            #CCCCCC
#define C_color15           #CCCCCC

! Xft settings
Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintfull

! URxvt settings
URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:       true
! URxvt.visualBell:         true
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Font settings
URxvt.allow_bold:           false
URxvt*letterSpace: -1

URxvt*font: xft:Source Code Pro:pixelsize=11,\
            xft:Kochi Gothic:antialias=false,\
            xft:Baekmuk Gulim

URxvt*boldFont: xft:Source Code Pro:pixelsize=11:style=Bold

! vim: ft=xdefaults

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          C_cursorColor
URxvt.cursorUnderline:      false

! Underline color
*colorUL: $color3

! Pointer
URxvt.pointerBlank: true

*background:             C_background
*foreground:             C_foreground
*cursorColor:            C_cursorColor
*pointerColorBackground: C_background
*pointerColorForeground: C_foreground

!Black
*color0:               C_color0
*color8:               C_color8

!Red
*color1:               C_color1
*color9:               C_color9

!Green
*color2:               C_color2
*color10:              C_color10

!Yellow
*color3:               C_color3
*color11:              C_color11

!Blue
*color4:               C_color4
*color12:              C_color12

!Magenta
*color5:               C_color5
*color13:              C_color13

!Cyan
*color6:               C_color6
*color14:              C_color14

!White
*color7:               C_color7
*color15:              C_color15